---
import { HeroSliderComponent } from "../components-angular/hero-slider/hero-slider.component";
import type { HeroSlide } from "../components-angular/hero-slider/hero-slider.component";

interface HeroProps {
  slides: HeroSlide[];
  autoSlideInterval?: number;
  overlay?: boolean;
  overlayOpacity?: number;
}

const {
  slides,
  autoSlideInterval = 5000,
  overlay = true,
  overlayOpacity = 0.4,
} = Astro.props as HeroProps;
---

<section class="relative overflow-hidden">
  <HeroSliderComponent
    client:load
    slides={slides}
    autoSlideInterval={autoSlideInterval}
    overlay={overlay}
    overlayOpacity={overlayOpacity}
  />
</section>
