---
import { Icon } from "astro-icon/components";

const highlights = [
  {
    icon: "lucide:award",
    text: "10 años de trayectoria",
  },
  {
    icon: "lucide:house",
    text: "Múltiples ambientes",
  },
  {
    icon: "lucide:users",
    text: "Equipo especializado",
  },
  {
    icon: "lucide:handshake",
    text: "Miles de historias",
  },
];
---

<section
  class="flex flex-col justify-between min-h-[calc(100dvh-70px)] py-6 px-0 md:pt-12 md:pb-0 bg-tertiary/10"
>
  <div class="flex-1 flex flex-col justify-center max-w-6xl mx-auto">
    <div class="grid md:grid-cols-2 gap-4 md:gap-16 items-center">
      <img
        src="/images/portada-fina-estampa.png"
        alt="Ambiente Fina Estampa"
        class="order-2 md:order-1 h-full object-cover"
      />
      <div class="flex flex-col gap-4 px-4 md:px-0">
        <h2
          class="text-4xl md:text-5xl mb-8 text-primary font-serif tracking-wider"
        >
          Familia Fina Estampa
        </h2>

        <p class="text-xl leading-relaxed mb-6 text-primary">
          Este proyecto nació de la visión y esfuerzo de una familia apasionada
          por la buena cocina y la hospitalidad. Cada detalle de Fina Estampa
          refleja nuestro compromiso de hacer sentir a cada visitante como en
          casa.
        </p>
        <p class="text-xl leading-relaxed text-tertiary font-bold mb-8 italic">
          Gracias por ser parte de nuestra historia.
        </p>
      </div>
    </div>
  </div>
  <div>
    <div class="md:py-8 bg-primary grid grid-cols-2 md:grid-cols-4">
      {
        highlights.map((highlight) => (
          <>
            <div class="w-full flex flex-col items-center gap-2 px-6 md:px-8 py-6 md:py-2 border-r border-b md:border-b-0 border-tertiary/50">
              <Icon name={highlight.icon} class="w-8 h-8 text-tertiary" />
              <p class="text-white text-sm md:text-base text-center leading-tight">
                {highlight.text}
              </p>
            </div>
          </>
        ))
      }
    </div>
  </div>
</section>
