---
import { Icon } from "astro-icon/components";
import SectionTitle from "../../components/SectionTitle.astro";

const highlights = [
  {
    icon: "lucide:award",
    text: "10 años de trayectoria",
  },
  {
    icon: "lucide:house",
    text: "Múltiples ambientes",
  },
  {
    icon: "lucide:users",
    text: "Equipo especializado",
  },
  {
    icon: "lucide:handshake",
    text: "Miles de historias",
  },
];
---

<section class="flex flex-col justify-between bg-tertiary/10 py-8">
  <div class="flex-1 flex flex-col justify-center px-4 max-w-6xl mx-auto">
    <div
      class="grid md:grid-cols-2 gap-4 md:gap-16 items-center justify-center"
    >
      <img
        src="/images/restaurant/fina-estampa-familia.png"
        alt="Ambiente Fina Estampa"
        class="h-100 hidden md:block object-cover"
      />
      <div class="flex flex-col gap-4  md:px-0">
        <SectionTitle title="Familia Fina Estampa" align="left" />

        <p class=" mb-4 font-body text-primary">
          Este proyecto nació de la visión y esfuerzo de una familia apasionada
          por la buena cocina y la hospitalidad. Cada detalle de Fina Estampa
          refleja nuestro compromiso de hacer sentir a cada visitante como en
          casa.
        </p>
        <p class=" text-accent font-display mb-4">
          Gracias por ser parte de nuestra historia.
        </p>
      </div>
      <img
        src="/images/restaurant/fina-estampa-familia.png"
        alt="Ambiente Fina Estampa"
        class="h-full md:hidden mx-auto pb-4 object-cover"
      />
    </div>
  </div>

  <div class="md:py-8 hidden bg-primary grid grid-cols-2 md:grid-cols-4">
    {
      highlights.map((highlight) => (
        <>
          <div class="w-full flex flex-col items-center gap-2 px-6 md:px-8 py-6 md:py-2 border-r border-b md:border-b-0 border-tertiary/50">
            <Icon name={highlight.icon} class="w-8 h-8 text-tertiary" />
            <p class="text-white text-sm md:text-base   text-center leading-tight">
              {highlight.text}
            </p>
          </div>
        </>
      ))
    }
  </div>
</section>
