---

---

<section
  class="flex min-h-[calc(80dvh-70px)] py-6 px-0 md:py-12 bg-[url('/images/portada-fina-estampa.png')]"
>
  <div class="flex max-w-6xl mx-auto">
    <div class="grid gap-0 md:gap-16 items-end">
      <div class="flex flex-col gap-4 px-4 md:px-0">
        <div class="flex justify-center">
          <h2
            class="text-white text-4xl md:text-5xl lg:text-6xl font-bold text-primary mb-8 font-serif"
          >
            Nuestra Historia
          </h2>
        </div>
        <p
          class="text-white text-xl font-semibold leading-relaxed text-primary mb-6 italic text-center"
        >
          Más que un restaurante, somos un lugar donde la tradicion, la familia
          y los buenos momentos se encuentran desde hace muchos años.
        </p>
      </div>
    </div>
  </div>
</section>
