<section
  class="flex min-h-[100svh] max-h-200  justify-center items-center py-6 px-0 md:py-12 bg-fixed bg-center bg-cover"
  style="background-image: url('/images/portada-fina-estampa.png');"
>
  <div class="flex flex-col items-center">
    <h2 class="text-white text-4xl md:text-5xl lg:text-6xl font-display mb-8">
      Nuestra Historia
    </h2>
    <p
      class="text-white hidden text-xl font-body leading-relaxed text-center max-w-2xl"
    >
      Más que un restaurante, somos un lugar donde la tradición, la familia y
      los buenos momentos se encuentran desde hace muchos años.
    </p>
  </div>
</section>
