---
import SectionTitle from "../components/SectionTitle.astro";
import { RecommendedMenuComponent } from "../components-angular/recommended-menu/recommended-menu.component";
---

<section class="py-16 bg-white select-none">
  <div class="max-w-6xl mx-auto">
    <SectionTitle
      title="Platos Recomendados"
      subtitle="Especialidades de la Casa"
      align="center"
      className="mb-12"
    />

    <RecommendedMenuComponent client:load />
  </div>
</section>
