@import "tailwindcss";
@import "./expose.css";
@theme {
  --color-primary: #0f203e;
  --color-secondary: #2c4877;
  --color-tertiary: #ae8149;
  --color-background: #eee5dc;
  --color-surface: #f4f4f5;
  --color-accent: #f9a243;
  --color-highlight: #f9a243;
  --font-display: "Expose-Bold", sans-serif;
  --font-body: "Expose-Regular", sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
