@import "tailwindcss";

@theme {
  --color-primary: #0f203e;
  --color-secondary: #2c4877;
  --color-tertiary: #ae8149;
  --color-background: #eee5dc;
  --color-surface: #f4f4f5;
  --color-accent: #ae8149;
  --color-highlight: #f9a243;
  --font-display: "Bebas Neue", sans-serif;
  --font-body: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: var(--color-tertiary);
  margin-top: 0.2rem;
  border-radius: 1rem;
}
