@import "tailwindcss";

@theme {
  --color-primary: #0F203E;
  --color-secondary: #2c4877;
  --color-tertiary: #AE8149;
  --color-background: #EEE5DC;
  --color-surface: #f4f4f5;
  --color-accent: #AE8149;
  --color-highlight: #f9a243;
  --font-display: 'Bebas Neue', sans-serif;
  --font-body: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
