---
import SectionTitle from "../../components/SectionTitle.astro";
---

<section class="flex bg-surface py-8 mx-auto px-6  md:py-12 overflow-hidden">
  <div
    class="grid max-w-6xl md:grid-cols-2 mx-auto w-full py-8 md:flex-row gap-16 lg:gap-8 items-center justify-items-center-safe"
  >
    <div class="flex flex-col gap-4 z-10 mx-auto max-w-md ">
      <SectionTitle
        title="El auténtico sabor de la cocina criolla"
        align="left"
      />
      <p class=" font-body text-primary/80">
        En Fina Estampa celebramos la tradición y el sabor de la cocina criolla
        peruana en un ambiente cálido y familiar.
        <br />
        Disfruta de nuestros platos preparados con pasión, una variada propuesta
        de restobar y eventos especiales que convierten cada visita en una
        experiencia para compartir y recordar.
      </p>
    </div>

    <!-- Grid de imágenes -->
    <div class="flex relative max-h-70  gap-2 justify-center items-center">
      <img
      id="img1"
        src="/images/drinks/coctel-tropical-vert.jpg"
        alt="Arroz con mariscos"
        class="absolute border-2 border-white -top-14 -left-16 lg:-left-30 w-30 lg:w-40 h-40 lg:h-50 object-cover rounded-md"
      />
      <img
        id="img2"
        src="/images/food/arroz-con-marisco.png"
        alt="Pan con pollo y jugo - Sabor tradicional"
        class="absolute border-2 border-white -bottom-16 -right-16 lg:-right-30 w-40 h-30 lg:w-50 lg:h-40 object-cover rounded-md"
      />

      <img
        src="/images/food/pan-con-pollo.JPG"
        alt="Cóctel tropical"
        class="w-full max-w-70 lg:max-w-90  h-full max-h-70  mx-auto object-cover rounded-md"
      />
    </div>
  </div>
</section>
<script>
  let images = document.querySelectorAll("#img1, #img2");

  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        window.addEventListener("scroll", () => {
          const scrollY = window.scrollY;
          if (entry.target.id === "img1") {
            entry.target.style.transform = `translateY(${scrollY * 0.1}px)`;
          }
          if (entry.target.id === "img2") {
            entry.target.style.transform = `translateY(${scrollY * -0.1}px)`;
          }
     
        });
      }
    });
  }, { threshold: 0.8 }); // se activa cuando al menos 10% de la imagen entra al viewport

  images.forEach(img => observer.observe(img));
</script> 
