---

---

<section class="flex min-h-[calc(100dvh-70px)] py-6 px-0 md:py-12">
  <div class="flex max-w-6xl mx-auto">
    <div class="grid md:grid-cols-2 gap-0 md:gap-16 items-center">
      <div class="flex flex-col gap-4 px-4 md:px-0">
        <h2 class="text-4xl md:text-5xl text-primary mb-8 font-serif">
          Conócenos
        </h2>

        <p class="text-xl leading-relaxed text-primary mb-6">
          En Fina Estampa celebramos la tradición y el sabor de la cocina
          criolla peruana en un ambiente cálido y familiar. Disfruta de nuestros
          platos preparados con pasión, una variada propuesta de restobar y
          eventos especiales que convierten cada visita en una experiencia para
          compartir y recordar.
        </p>
      </div>
      <div class="grid grid-cols-5 gap-2">
        <div class="col-span-3 flex flex-col gap-2">
          <img
            src="/images/home/about1.JPG"
            alt="Sobre Fina Estampa"
            class="w-full h-full object-cover"
          />

          <img
            src="/images/portada-fina-estampa.png"
            alt="Ambiente Fina Estampa"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="col-span-2">
          <img
            src="/images/home/about3.jpg"
            alt="Ambiente Fina Estampa"
            class="w-full h-full object-cover"
          />
        </div>
      </div>
    </div>
  </div>
</section>
