@if (!hasPriceRange()) {
<!-- DISEÑO 1: Producto Estándar (Estilo Lista / Minimalista) -->
@if (product().image_url) {
<!-- Con imagen - Layouts alternos -->
@if (index() % 2 === 0) {
<!-- Layout 1: Normal (Info izquierda, Imagen derecha) -->
<div
  (click)="productClick.emit(product())"
  class="group relative py-6 px-4 h-full md:px-6 transition-all duration-300 cursor-pointer hover:bg-secondary/5 flex flex-col items-start gap-6"
>
  <div class="flex flex-col items-start gap-4 h-full w-full">
    <!-- Contenido Izquierdo (Info) -->

    <!-- Contenido Derecho (Info) -->
    <div class="flex flex-col space-y-2 p-4 w-full">
      <h3
        class="text-4xl text-center border-4 border-accent font-display text-primary px-2 tracking-tight group-hover:text-accent transition-colors"
      >
        {{ product().name }}
      </h3>
      <p class="text-center text-primary/80 w-full line-clamp-2">
        {{ product().description }}
      </p>
    </div>

    <div
      class="relative flex flex-col w-full justify-center items-center h-2/3 border border-primary/50"
    >
      <div class="flex flex-col items-center justify-center h-1">
        <p
          class="flex w-auto mx-auto border-2 border-white ring-1 ring-red-primary rounded-full px-4 py-2 bg-primary items-center gap-4"
        >
          <span class="text-3xl font-display text-white tracking-tighter">
            {{ startingPrice() | precio }}
          </span>
          @if (product().qty_label) {
          <span
            class="text-[10px] font-bold text-secondary/40 uppercase tracking-widest"
            >{{ product().qty_label }}</span
          >
          }
        </p>
      </div>
      <img
        [src]="product().image_url"
        class="w-full h-full object-cover transform group-hover:scale-110 transition-transform duration-500"
        alt="{{ product().name }}"
      />
      @if (product().is_recommended) {
      <lucide-icon
        [img]="Star"
        class="w-10 h-10 absolute top-2 right-2 text-accent fill-accent"
      ></lucide-icon>
      } @if (canOrder()) {
      <app-add-button
        text=""
        (clicked)="onAddClick($event)"
        iconSize="h-10 w-10 md:w-6 md:h-6"
        class="transform absolute bottom-2 right-2 group-hover:scale-110 transition-transform"
      ></app-add-button>
      }
    </div>
  </div>
</div>
} @else {
<!-- Layout 2: Invertido (Imagen izquierda, Info derecha) -->
<div
  (click)="productClick.emit(product())"
  class="group relative py-6 px-4 md:px-6 transition-all space-y-2 duration-300 cursor-pointer hover:bg-secondary/5 flex flex-col items-start gap-6"
>
  <!-- Contenido Izquierdo (Imagen) -->
  <div class="relative w-full h-full gap-4 flex flex-col overflow-hidden">
    <div
      class="relative flex flex-col w-full justify-center items-center h-2/3 border border-primary/50"
    >
      <img
        [src]="product().image_url"
        class="w-full h-2/3 object-cover transform group-hover:scale-110 transition-transform duration-500"
        alt="{{ product().name }}"
      />
      @if (product().is_recommended) {
      <lucide-icon
        [img]="Star"
        class="w-10 h-10 absolute top-2 right-2 text-accent fill-accent"
      ></lucide-icon>
      } @if (canOrder()) {
      <app-add-button
        text=""
        (clicked)="onAddClick($event)"
        iconSize="h-10 w-10 md:w-6 md:h-6"
        class="transform absolute bottom-2 right-2 group-hover:scale-110 transition-transform"
      ></app-add-button>
      }
      <div class="flex flex-col items-center justify-center h-1">
        <p
          class="flex w-auto mx-auto border-2 border-white ring-1 ring-red-primary rounded-full px-4 py-2 bg-primary items-center gap-4"
        >
          <span class="text-3xl font-display text-white tracking-tighter">
            {{ startingPrice() | precio }}
          </span>
          @if (product().qty_label) {
          <span
            class="text-[10px] font-bold text-secondary/40 uppercase tracking-widest"
            >{{ product().qty_label }}</span
          >
          }
        </p>
      </div>
    </div>

    <!-- Contenido Derecho (Info) -->
    <div class="flex flex-col space-y-2 p-4 w-full">
      <h3
        class="text-4xl text-center border-4 border-accent font-display text-primary px-2 tracking-tight group-hover:text-accent transition-colors"
      >
        {{ product().name }}
      </h3>
      <p class="text-center text-primary/80 w-full line-clamp-2">
        {{ product().description }}
      </p>
    </div>
  </div>
</div>
} } @else {
<!-- Layout 1 sin imagen -->
<div
  (click)="productClick.emit(product())"
  class="group relative py-6 px-4 md:px-6 transition-all duration-300 cursor-pointer hover:bg-secondary/5 border-b border-secondary/10 flex items-start gap-6"
>
  <div class="grid grid-cols-4 items-center space-y-2 w-full">
    <div class="flex flex-col col-span-3 justify-center gap-2">
      <h3
        class="text-4xl flex gap-4 font-display text-primarytracking-tight group-hover:text-accent transition-colors"
      >
        {{ product().name }} @if (product().is_recommended) {
        <lucide-icon
          [img]="Star"
          class="w-5 h-5 text-accent fill-accent"
        ></lucide-icon>
        }
      </h3>
      <p
        class="flex justify-center max-w-60 rounded-full px-4 py-2 bg-primary ring-1 ring-white items-center gap-4"
      >
        <span class="text-3xl font-display text-white tracking-tighter">
          {{ startingPrice() | precio }}
        </span>
        @if (product().qty_label) {
        <span
          class="text-[10px] font-bold text-secondary/40 uppercase tracking-widest"
          >{{ product().qty_label }}</span
        >
        }
      </p>
    </div>
    <div class="flex items-start h-full justify-end">
      @if (canOrder()) {
      <app-add-button
        text=""
        (clicked)="onAddClick($event)"
        iconSize="h-10 w-10 md:w-6 md:h-6"
        class="transform group-hover:scale-110 pt-2 transition-transform"
      ></app-add-button>
      }
    </div>
  </div>
</div>

} } @else {
<!-- DISEÑO 2: Producto con Rangos de Precio (Estilo Card Prominente) -->
<div
  (click)="productClick.emit(product())"
  class="group relative p-4 justify-between items-center transition-all duration-300 overflow-hidden cursor-pointer bg-primary text-white rounded-b-xl rounded-t-[120px] flex flex-col h-full"
>
  <!-- Image (Side position) -->
  <div class="relative flex rounded-full h-40 w-40 bg-secondary justify-center">
    @if (product().image_url) {
    <img
      [src]="product().image_url"
      class="w-full h-auto object-contain drop-shadow-2xl transform group-hover:-translate-x-4 transition-transform duration-700"
      alt="{{ product().name }}"
    />
    }
  </div>
  <!-- Title & Badge -->
  <div class="relative flex flex-col w-full pt-4">
    <h3
      class="text-4xl flex items-start justify-between gap-2 font-display text-white tracking-tight transition-colors"
    >
      {{ product().name }} @if (product().is_recommended) {
      <lucide-icon
        [img]="Star"
        class="w-5 h-5 text-accent fill-accent"
      ></lucide-icon>
      }
    </h3>
  </div>

  <!-- Bottom: Info & Selection Action -->
  <div class="mt-auto w-full relative flex flex-col justify-between">
    <div class="flex flex-col">
      <span
        class="text-xs font-body font-bold uppercase tracking-[0.2em] text-white/70"
        >Desde</span
      >
      <span class="text-3xl font-display text-accent tracking-tighter">
        {{ startingPrice() | precio }}
      </span>
    </div>

    @if (canOrder()) {
    <div
      class="flex justify-between w-full items-center gap-2 px-4 py-2 border-2 border-accent group-hover:bg-accent transition-colors"
    >
      <span class="text-xs font-body font-bold uppercase tracking-widest"
        >Elegir cantidades</span
      >
      <lucide-icon [img]="Plus" class="w-4 h-4 font-bold"></lucide-icon>
    </div>
    }
  </div>
</div>
}
